.videobackground__wrapper{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,1);
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -100;
}
	.videobackground__video{
		position: fixed;
  		right: 0; 
  		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;
 		width: auto; 
		height: auto;
		z-index: -110;
	}

.videobackground__overlay{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
	border: 20px solid #fff;
}